/* ZipcodeWilmington 2015 */

/* ===================================== FONTS ========================================= */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);


/* ===================================== GLOBAL STYLE ========================================= */
* {
    margin: 0;
    padding: 0;
}

body { font: 14px/1.4 arial, sans-serif;
    background-image: url("../images/Dice-Roulette-Casino-wallpaper.jpg");
    background-size: 100%;
 /* background-color: rgb(98, 149, 151); */
}

#userInfo{
    color: white;
}

#userNameHand{
    color: white;
}

article, aside, figure, footer, header, nav, section { display: block; }
a:link, a:visited {
    text-decoration: none;

    color: inherit;
}

a:hover, a:active {
    text-decoration: none;

    color: inherit;
}

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#main:focus {
    outline: none;
}


/* ===================================== HEADER STYLE ========================================= */

.main-header {
    width: 100%;
    height: 79px;

    background-color: #0c7a56;}

.main-header .title {
    float: left;
    text-transform: uppercase;

    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;

    width: 55%;

    padding-left: 5%;

    color: rgb(245, 10, 10);

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-header .zip-link {
    float: right;

    width: 16%;
    height: 100%;

    background-color: white;
}

.main-header .lesson-link {
    float: right;

    width: 16%;
    height: 100%;

    background-color: #c90923;
}

.main-header div {
    /* fix blurriness of children due to them
       being placed on half pixels */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.main-header div img {
    display: block;

    margin: auto;

    width: 55%;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* page styles */
article {margin: 5%;}
article p { margin-bottom: 20px;}
section {margin:10px;}
h1 {
    font-weight: bold;
    margin-left: 10px;
    color: white;
}
#main {

}
#display {
    border: 1px #aaa solid;
    padding:10px;
    width: 600px;
    min-height: 200px;
    background:rgb(177, 220, 236);
	margin-bottom:10px;
    border-radius: 25px;
}
#menu {
    float: left;
    width: 100px;
    margin: 0 0 0 10px;
}

#menu ul {
    list-style-type: none;
}

#menu li {
    margin-bottom: 10px;
}

#menu button {
    width: 120px;
}
